<mat-card>
    <div class="no-data-container">
        <div class="no-data-icon">
            <!-- <mat-icon class="no-data-icon">image_not_supported</mat-icon> -->
            <mat-icon class="no-data-icon">error</mat-icon>
        </div>
        <div class="no-data-text">
            <div class="no-data-title">
                <label for="title">{{noDataInfo.title}}</label>
            </div>
            <div class="no-data-description">
                <label for="description">{{noDataInfo.description}}</label>
            </div>
        </div>
    </div>
</mat-card>