<header>
  <nav class="navbar">
    <div class="logo">
      <img src="assets/images/logo/ems-logo.png"
           alt="EMS Logo" />
      <h1>EMPLOYEE MANAGEMENT SYSTEM</h1>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/"
           routerLinkActive="active">Home</a></li>
      <li><a routerLink="/employees"
           routerLinkActive="active">Employees</a></li>
      <li><a routerLink="/departments"
           routerLinkActive="active">Departments</a></li>
    </ul>
  </nav>
</header>